.app-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-image:$gradient1;
	margin: (-30px) -30px 30px;
	padding: 20px 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	height: 100px;
	[dir=rtl] & {
		text-align: right;
	}
    @include breakpoint(print) {
		display: none;
    }
    @include breakpoint(maxxxs) {
		margin: (-15px) -15px 15px;
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
	h1 {
		margin: 0;
		font-size: 24px;
        font-weight: 400;
		line-height: 30px;
		color: $theme-white-color;
	}

	p {
		margin-bottom: 0;
		color: $theme-white-color;
        @include breakpoint(maxxxs) {
            display: none;
        }
	}
}

.app-breadcrumb {
	margin-bottom: 0;
	font-size: 14px;
	text-transform: capitalize;
	padding: 0;
	text-align: left;
	[dir=rtl] & {
		text-align: right;
	}
	padding: 0;
	background-color: transparent;
	color: $theme-white-color;
	.breadcrumb-item + .breadcrumb-item::before {
		color: $theme-white-color;
		[dir=rtl] & {
			margin-left: 10px;
		}
	}
	a{
		color: $theme-white-color;
		&:hover,&:focus,&:active{
			color: $theme-white-color;
		}
	}
    @include breakpoint(maxxxs) {
        margin-top: 10px;
    }
}