.widget-small {
	display: flex;
	color: $theme-white-color;
	@include border-radius(8px);
    @include box-shadow(0px, 0px, 30px, rgba(0, 0, 0, 0.1));

	.icon {
		display: flex;
		min-width: 85px;
		align-items: center;
		justify-content: center;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 8px 0 0 8px;
		[dir=rtl] & {
			border-radius: 0px 8px 8px 0;
		}
		font-size: 2.5rem;
	}

	.info {
		flex: 1;
		padding: 0 20px;
		align-self: center;
		[dir=rtl] & {
			text-align: right;
		}

		h4 {
			text-transform: uppercase;
			margin: 0;
			margin-bottom: 5px;
			font-weight: 400;
            font-size: 1.1rem;
            color: $theme-white-color;
		}

		p {
			margin: 0;
            font-size: 20px;
            
		}
    }
    &.primary {
		background-color: $theme-primary-color;
		

		&.coloured-icon {
			background-color: $theme-white-color;
			color: $heading-color;
			h4{
				color: $heading-grey;
			}

			.icon {
				background-color: $theme-primary-color;
				color: $theme-white-color;
			}
		}
	}
    &.secondary {
		background-color: $theme-secondary-color;

		&.coloured-icon {
			background-color: $theme-white-color;
			color: $heading-color;
			h4{
				color: $heading-grey;
			}

			.icon {
				background-color: $theme-secondary-color;
				color: $theme-white-color;
			}
		}
	}

	
}