.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	[dir=rtl] & {
		left: auto;
		right: 0px;
	}
	padding-top: 50px;
	width: 280px;
	overflow: auto;
	z-index: 10;
	background-color: $theme-white-color;
	transition: left 0.3s ease, width 0.3s ease;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
	}

	@include breakpoint(print) {
		display: none;
	}
}

.app-sidebar-overlay {
	@include breakpoint(maxsm) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
	}
}

.app-sidebar-user {
	display: flex;
	align-items: center;
	padding: 15px 10px;
	[dir=rtl] & {
		padding: 15px 0px;
	}
	margin-bottom: 20px;
	background: darken( $theme-primary-color, 10% );
	height: 100px;
}

.app-sidebar-user-avatar {
	@include border-radius(50%);
	flex: 0 0 auto;
	margin-right: 15px;
	width: 45px;
	height: 45px;
}

.app-sidebar-user-name {
	font-size: 17px;
	line-height: 1.3;
	font-weight: 500;
}

.app-sidebar-user-name,
.app-sidebar-user-designation {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0;
	width: 150px;
	color: $theme-white-color;
}


.app-menu {
	list-style: none;
	padding: 0px;
	margin: 0px 10px;
	margin-bottom: 0;
	padding-bottom: 40px;
}

.app-menu-item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 12px 15px;
	font-size: 1.08em;
	border-radius: 30px;
	transition: background-color 0.3s ease;
	margin-bottom: 5px;

	&.active,
	&:hover,
	&:focus {
		background: $theme-light-grey;
		border-left-color: $theme-secondary-color;
		text-decoration: none;
	}
}

.app-menu-icon {
	flex: 0 0 auto;
	width: 25px;
	color: $theme-secondary-color;
}
.app-menu-image{
	flex: 0 0 auto;
	width: 20px;
}

.app-menu-label {
	white-space: nowrap;
	flex: 1 1 auto;
	[dir=rtl] & {
		text-align: right;
		margin-right: 10px;
	}
}

.treeview {
	.treeview-indicator {
		font-size: 10px;
		transition: all 0.15s 0.15s;

		[dir=rtl] & {
			transform: rotate(180deg);
		}
	}

	.treeview-item {
		i {
			[dir=rtl] & {
				transform: rotate(180deg);
			}
		}
	}

	&.is-expanded {
		[data-toggle='treeview'] {
			border-left-color: $theme-secondary-color;
			background: $theme-light-grey;
		}

		.treeview-menu {
			max-height: 100vh;
		}

		.treeview-indicator {
			transform: rotate(90deg);
			transition: all 0.15s 0.15s;
		}

	}
}

.treeview-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	background: $theme-white-color;

}

.treeview-item {
	display: flex;
	align-items: center;
	padding: 5px 5px 5px 20px;
	font-size: 14px;
	[dir=rtl] & {
		font-size: 15px;
		margin-right: 10px;
	}

	&.active,
	&:hover,
	&:focus {
		text-decoration: none;
		color: $theme-secondary-color;
	}

	.icon {
		margin-right: 5px;
	}

}