//Main footer

.main-footer {
    border-top: 1px solid $theme-light-grey;
  
    .copyright-holder {
      text-align: left;
      [dir=rtl] & {
        text-align: right;
        @include breakpoint(sm) {
          text-align: center;
        }
        @include breakpoint(xs) {
          text-align: center;
        }
        @include breakpoint(xxs) {
          text-align: center;
        }
        @include breakpoint(xxxs) {
          text-align: center;
        }
      }
      @include breakpoint(sm) {
        text-align: center;
      }
      @include breakpoint(xs) {
        text-align: center;
      }
      @include breakpoint(xxs) {
        text-align: center;
      }
      @include breakpoint(xxxs) {
        text-align: center;
      }
    }
  
    .link-holder {
      text-align: right;
      [dir=rtl] & {
        text-align: left;
        @include breakpoint(sm) {
          text-align: center;
        }
        @include breakpoint(xs) {
          text-align: center;
        }
        @include breakpoint(xxs) {
          text-align: center;
        }
        @include breakpoint(xxxs) {
          text-align: center;
        }
      }
      @include breakpoint(sm) {
        text-align: center;
      }
      @include breakpoint(xs) {
        text-align: center;
      }
      @include breakpoint(xxs) {
        text-align: center;
      }
      @include breakpoint(xxxs) {
        text-align: center;
      }
  
      ul {
        margin: 0;
        padding: 0;
  
        li {
          display: inline-block;
          margin-left: 10px;
        }
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    .social-holder {
      text-align: center;
  
      ul {
        margin: 0;
        padding: 0;
  
        li {
          display: inline-block;
          margin-left: 15px;
        }
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  