//Navigation
.navbar-main {
    padding: 10px 10px;
    .navbar-brand{
        img{
            height: 40px;
            width: auto;
        }
        
    }
    .navbar-nav {
        .nav-link {
            padding: .2rem 1rem;
            font-weight: 500;
            position: relative;
            &.nav-button {
                margin-left: 5px;
                margin-bottom: 2px;
                margin-top: 2px;
                border-radius: 5px;
                text-align: center;
                &.bordered{
                    border: 1px solid $theme-secondary-color;
                }
                &.filled{
                    background: $theme-primary-color;
                    color: $theme-white-color;
                    &:hover{
                        color: $theme-white-color !important;
                    }
                }
            }
            .notification-count{
                position: absolute;
                display: block;
                top: 4px;
                right: 25px;
                background: #dc3545;
                font-size: 10px;
                line-height: 10px;
                height: 14px;
                width: auto;
                padding: 2px 3px;
                color: #fff;
                border-radius: 10px;
                min-width: 14px;
                min-height: 14px;
                text-align: center;
            }
        }
    }
    .dropdown-menu {
        border: none;
        -webkit-box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.26);
        box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.26);
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        min-width: 12rem !important;
        background: #fff !important;
        [dir=rtl] & {
            text-align: right !important;
        }
        .dropdown-item {
            
            &:hover,
            &:active {
                color: $theme-secondary-color;
            }
        }
        &:before {
            position: absolute;
            top: -9px;
            left: 24px;
            display: inline-block;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ccc;
            border-left: 10px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            content: '';
        }
        &:after {
            position: absolute;
            top: -8px;
            left: 25px;
            display: inline-block;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #ffffff;
            border-left: 9px solid transparent;
            content: '';
        }
        &.notification-dropdown-menu{
            min-width: 18rem !important;
            margin: 0px;
            padding: 0px;
            &:after {
                border-bottom: 9px solid transparentize($theme-primary-color, 0.7);
            }
        }
    }
    &.navbar-light {
        .navbar-nav {
            .nav-link {
                color: $body-font-color;
                &:hover,
                &:active {
                    color: $theme-black-color;
                }
            }
            .nav-item {
                &.show a.nav-link {
                    color: $theme-black-color;
                }
            }
        }
    }
    .dropdown-item {
        color: $body-font-color;
        
        &:focus,
        &:active {
            background: transparent;
        }
    }
}

//Animation
@-webkit-keyframes slideDownIn {
    0% {
        -webkit-transform: translateY(-20px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
    0% {
        -webkit-transform: translateY(-20);
    }
}

@keyframes slideDownIn {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
    0% {
        transform: translateY(-20px);
    }
}

.slideDownIn {
    -webkit-animation-name: slideDownIn;
    animation-name: slideDownIn;
}
.dropdown-toggle{
    &::after{
        @include breakpoint(maxmd) {
            top:8px !important;
            right: 0px !important;
            position: absolute;
        }
    }
    
}

.app-notification-title {
	padding: 8px 20px;
	text-align: center;
	background-color: transparentize($theme-primary-color, 0.7);
	color: $heading-color;
	@include border-radius-separate(3px, 3px, 0px, 0px);
	font-size: 14px;
}
.app-notification-footer {
	padding: 8px 20px;
	text-align: center;
	background-color: $theme-secondary-color;
	@include border-radius-separate(0px, 0px, 3px, 3px);
	a{
		color: $theme-white-color;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
	}
}
.app-notification-content {
	max-height: 220px;
	overflow-y: auto;
	&::-webkit-scrollbar { width: 6px; }
	&::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.2); }
	&.unstyled{
		li{
			margin-bottom: 0px;
		}
	}
}
.app-notification-item {
	display: flex;
	padding: 8px 20px;
	color: inherit;
	border-bottom: 1px solid $theme-light-grey;
	transition: background-color 0.3s ease;
	&.active,
	&:focus,
	&:hover {
		color: inherit;
		text-decoration: none;
		background-color: $theme-light-bg;
	}
	.app-notification-holder{
		.app-notification-icon { 
			margin-right: 10px;
			width: 35px;
			height: 35px;
			[dir=rtl] & {
				margin-right: 0px;
				margin-left: 10px;
			}
			img{
				width: 35px;
				height: 35px;
				@include border-radius(50%);
			}
		}
		.app-notification-message,
		.app-notification-meta {
			margin-bottom: 0;
			[dir=rtl] & {
				text-align: right;
			}
		}
		.app-notification-message { 
			line-height: 1.2; 
			font-size: 14px;
			color: $body-font-color;
			overflow: hidden;
			text-overflow: ellipsis;
			[dir=rtl] & {
				font-size: 15px;
			}
		}
		.app-notification-meta { 
			font-size: 12px;
			color: $theme-grey-color;
			[dir=rtl] & {
				font-size: 13px;
			}
		}
	}
}
