//----------------------------------
//Plugin Overides
//----------------------------------

//01 - Responsive Tabs

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
    background: $theme-light-grey;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 8px 20px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    &.r-tabs-state-default{
        background: $theme-light-grey;
        border-bottom: 3px solid transparent;
    }
    &.r-tabs-state-active{
        border-bottom: 3px solid $theme-primary-color;
        a{
            color: $body-font-color !important;
        }
        
    }
}

.r-tabs .r-tabs-panel {
    padding: 20px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
    
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
        padding: 8px 20px;
        font-weight: 600;
        &.r-tabs-state-default{
            background: $theme-light-grey;
            border-bottom: 3px solid transparent;
        }
        &.r-tabs-state-active{
            background: $theme-light-grey;
            border-bottom: 3px solid $theme-primary-color;
            a{
                color: $body-font-color !important;
            }
            
        }
    }
}