.action-card {
    position: relative;

    .image-holder {
        margin-right: 15px;
        [dir=rtl] & {
            margin-right: 0px;
            margin-left: 15px;
        }

        img {
            width: 48px;
            height: 48px;
            @include border-radius(50%);
        }

    }

    h6 {
        font-size: 15px;
    }

    p {
        margin-bottom: 0px !important;
    }

    .action-buttons {
        list-style: none;
        margin: 0px;
        padding: 0px;
        position: absolute;
        right: 0px;
        top: 5px;

        @include breakpoint(maxxs) {
            position: relative;
            top: 10px;
        }

        li {
            display: inline-block;
            margin-right: 5px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.article-list {
    position: relative;
    border-bottom: 1px solid $theme-light-grey;
    padding: 10px 0px;
    .media {
        
        
        @include breakpoint(maxmd) {
            width: calc(100% - 50px);
        }
        .image-holder {
            margin-right: 15px;
            [dir=rtl] & {
                margin-right: 0px;
                margin-left: 15px;
            }
            img {
                width: 75px;
                height: 75px;
                @include border-radius(50%);
            }

        }
        .media-body {
            [dir=rtl] & {
                text-align: right;
            }
            h6 {
                font-size: 15px;
            }

            p {
                margin-bottom: 0px !important;
            }
        }


    }

    .article-votes {
        position: absolute;
        top: 40%;
        right: 80px;
        [dir=rtl] & {
            right: auto;
            left: 80px;
        }
        &.no-action{
            right: 0px;
            [dir=rtl] & {
                right: auto;
                left: 0px;
            }
        }
        @include breakpoint(maxmd) {
            position: relative;
            top: 10px;
            margin-bottom: 10px;
            right: auto;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                display: inline-block;
                padding: 0px 10px;
                border-right: 1px solid $theme-light-grey;
                [dir=rtl] & {
                    border-right: 0px;
                    border-left: 1px solid $theme-light-grey;
                }

                &:last-child {
                    border-right: 0px !important;
                    [dir=rtl] & {
                        border-right: 0px;
                        border-left: 0px;
                    }
                }

                span.label {
                    font-size: 75%;
                    margin-left: 5px;
                    [dir=rtl] & {
                        margin-left: 0px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

}
//Users List
.users-list {
    position: relative;
    border-bottom: 1px solid $theme-light-grey;
    padding: 10px 0px;
    .media {
        
        
        @include breakpoint(maxmd) {
            width: calc(100% - 50px);
        }
        .image-holder {
            margin-right: 15px;
            [dir=rtl] & {
                margin-right: 0px;
                margin-left: 15px;
            }
            img {
                width: 75px;
                height: 75px;
                @include border-radius(50%);
            }

        }
        .media-body {
            [dir=rtl] & {
                text-align: right;
            }
            h6 {
                font-size: 15px;
            }

            p {
                margin-bottom: 0px !important;
            }
        }


    }

}

//FAQ List
.faq-list {
    position: relative;
    border-bottom: 1px solid $theme-light-grey;
    padding: 10px 0px;
    .media {
        
        
        @include breakpoint(maxmd) {
            width: calc(100% - 50px);
        }
        .image-holder {
            margin-right: 15px;
            [dir=rtl] & {
                margin-right: 0px;
                margin-left: 15px;
            }
            img {
                width: 75px;
                height: 75px;
                @include border-radius(50%);
            }

        }
        .media-body {
            [dir=rtl] & {
                text-align: right;
            }
            h6 {
                font-size: 15px;
            }

            p {
                margin-bottom: 0px !important;
            }
        }


    }

}
//Tickets List
#ticketDetails{
    [dir=rtl] & {
        text-align: right;
    }
}
.tickets-list {
    position: relative;
    border-bottom: 1px solid $theme-light-grey;
    padding: 10px 60px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    [dir=rtl] & {
        padding: 10px 0px 10px 60px;
        text-align: right;
    }
    &.no-action{
        padding: 10px 0px 10px 0px !important;
    }
    .ticket-info{
        .media {
            .image-holder {
                margin-right: 15px;
                [dir=rtl] & {
                    margin-right: 0px;
                    margin-left: 15px;
                }
                img {
                    width: 75px;
                    height: 75px;
                    @include border-radius(50%);
                }
    
            }
            .media-body {
                [dir=rtl] & {
                    text-align: right;
                }
                h6 {
                    font-size: 15px;
                }
    
                p {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
    .assigned-to{
        margin-left: auto;
        
        [dir=rtl] & {
            margin-right: auto;
            margin-left: 0px;
        }
        .media {
            .image-holder {
                margin-right: 15px;
                [dir=rtl] & {
                    margin-right: 0px;
                    margin-left: 15px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    @include border-radius(50%);
                }
    
            }
            .media-body {
                h6 {
                    font-size: 14px;
                }
    
                p {
                    margin-bottom: 0px !important;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
    


}

.category-list {
    position: relative;
    border-bottom: 1px solid $theme-light-grey;
    padding: 10px 0px;
    &.active{
        background-color: $theme-light-bg;
    }
    .media {
        width: calc(100% - 50px);
        .image-holder {
            margin-right: 15px;
            [dir=rtl] & {
                margin-left: 15px;
                margin-right: 0px;
            }
            img {
                width: 48px;
                height: 48px;
                @include border-radius(50%);
            }

        }
        .media-body {
            [dir=rtl] & {
                text-align: right;
            }
            h6 {
                font-size: 15px;
            }

            p {
                margin-bottom: 0px !important;
            }
        }


    }
}

.mini-list {
    position: relative;
    border-bottom: 1px solid $theme-light-grey;
    padding: 10px 0px;
    .media {
        width: calc(100% - 50px);
        .image-holder {
            margin-right: 15px;
            [dir=rtl] & {
                margin-right: 0px;
                margin-left: 15px;
            }
            img {
                width: 48px;
                height: 48px;
                @include border-radius(50%);
            }

        }
        .icon-holder{
            margin-right: 15px;
            [dir=rtl] & {
                margin-right: 0px;
                margin-left: 15px;
            }
            .icon{
                width: 48px;
                height: 48px;
                @include border-radius(50%);
                background: $gradient2;
                text-align: center;
                color: $theme-white-color;
                font-size: 24px;
                line-height: 48px;
            }
        }
        .media-body {
            [dir=rtl] & {
                text-align: right;
            }
            h6 {
                font-size: 15px;
            }

            p {
                margin-bottom: 0px !important;
            }
        }


    }
}

.action-dropdown {
    position: absolute;
    right: 0px;
    top: 35%;
    [dir=rtl] & {
        left: 0px;
        right: auto;
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 40px !important;
        margin-top: 10px;
        font-size: 20px;
        vertical-align: 0px;
        content: "\e94a" !important;
        font-family: 'LineIcons';
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        [dir=rtl] & {
            margin-top: 30px;
        }
    }

    .dropdown-menu {
        border: 1px solid $theme-light-grey;
        @include border-radius(8px);

    }

    .dropdown-item {
        cursor: pointer;
        color: $body-font-color;

        &:focus {
            background: $theme-light-grey !important;
        }
    }
}
//Sortable List
.sortable-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid $theme-grey-color;
        background: $theme-light-grey;
        font-weight: 400;
        color: $body-font-color;
        margin-bottom: 10px;
        padding: 10px;
        @include border-radius(25px);
        cursor: move;
    }
}