
.side-panel {
    background: $theme-white-color;
    overflow-y: scroll;

    .side-panel-content-holder {
        position: relative;

        .side-panel-loader {
            position: absolute;
            background: $theme-white-color;
            width: 100%;
            height: 100vh;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 10px;
            z-index: 1050;
            display: flex;
            align-items: center;
            justify-content: center;

            .loader-ripple {
                display: inline-block;
                position: relative;
                width: 64px;
                height: 64px;

                div {
                    position: absolute;
                    border: 4px solid $theme-primary-color;
                    opacity: 1;
                    border-radius: 50%;
                    animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

                    &:nth-child(2) {
                        animation-delay: -0.5s;
                    }
                }
            }
        }
    }
}



@keyframes loader-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}